.container {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}
 .menu {
    background-color: black;
    padding: 18px;
}
.menu__list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.menu__item {
    margin-right: 20px;
}
.menu__item--active .menu__link {
    font-weight: bold;
}
.menu__link {
    color: white;
    text-decoration: none;
}